<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div class="field">
    <%= f.label :name ,:style=>'font-size:20px'%><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name" ,:placeholder=>'name',:class=>'form-control',:style=>'font-size:15px'%>
  </div>
<br>
  <div class="field">
    <%= f.label :email ,:style=>'font-size:20px'%><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,:placeholder=>'email',:class=>'form-control' ,:style=>'font-size:15px'%>
  </div>
  
<br>

   <div class="field">
    <%= f.label :date_of_birth ,:style=>'font-size:20px'%><br />
    <%= f.date_field :date_of_birth, autofocus: true, autocomplete: "date_of_birth" ,:class=>'form-control' ,:style=>'font-size:15px'%>
  </div>

<br>
  <div class="field">
    <%= f.label :gender,:style=>'font-size:20px' %><br />
    <%= f.select :gender,User.genders.keys %>
  </div>

<br>
  <div class="field">
    <%= f.label :avatar,:style=>'font-size:20px' %><br />
    <%= f.file_field :avatar%>
  </div>
<br>
  <div class="field">
    <%= f.label :password ,:style=>'font-size:20px'%>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off",:placeholder=>'password',:class=>'form-control' ,:style=>'font-size:15px'%>
  </div>
<br>
  <div class="field">
    <%= f.label :password_confirmation,:style=>'font-size:20px' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" ,:placeholder=>'password confirmation',:class=>'form-control' ,:style=>'font-size:15px'%>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Sign up", :class=>'btn btn-success',:style=>'font-size:15px' %>
  </div>
<% end %>
<br>

<%= render "devise/shared/links" %>
