<p id="notice"><%= notice %></p>

<h1>Courses</h1>
<%# <% if can? :create,@course %> %>
<%= link_to 'New Course', new_course_path, :class => 'btn btn-primary' , :style =>'font-size:15px' %>
<%# <%end%> %>
<table class="table table-striped ">
  <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <th>Created By</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td style="font-size:15px"><%= link_to course.title, course %></td>
        <td style="font-size:15px; color:green"><%= User.find(course.user_id).name %> </td>
        <td><%= link_to 'Show', course , :class =>'btn btn-primary'%></td>
        <%if user_session && current_user.id === course.user_id%>
        <td><%= link_to 'Edit', edit_course_path(course) , :class =>'btn btn-warning'%></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, :class =>'btn btn-danger' %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


